<nav>
  <a
    routerLink="/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
  >
    Home
  </a>
  <a routerLink="/article" routerLinkActive="active">Article</a>
  <a routerLink="/admin" routerLinkActive="active">Admin</a>
  <span *ngIf="isLogin()">
  <a href="#" (click)="logout()" routerLinkActive="active">Logout</a>
    </span>
</nav>

<input type="search" [formControl]="search">

<button (click)="fetchData()">Fetch Data</button>


<div *ngFor="let post of postList">
  <div>{{ post.id }}</div>
  <div>{{ post.title }}</div>
  <div>{{ post.body }}</div>
</div>

<div style="background-color: #f0f0f0; border: 1px solid #d3d3d3; margin-top: 8px; padding: 4px;">
  <router-outlet></router-outlet>
</div>
